
/* link fonts */
@font-face {
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
    font-family: Montserrat;
    src: url(../fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
    font-family: Ubuntu Mono;
    src: url(../fonts/Noto_Sans/NotoSans-Regular.ttf);
    font-family: Noto Sans;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #24262B;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}




/* Navbar */
.nav__links li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%; /* 30px top & botton, 10% on the left & rigth */
    width: 100%;
}

.mylogo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
    /* border: 1px solid white; */
    /* center inside of nav */
    display: block;
    margin: auto auto;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    font-family: "Ubuntu Mono";
    font-size: 20px;
    position: relative;
    top: 0;
}
.nav__links li a:hover {
    /* color: #0088a9; */
    color: #38d1ef;
    position: relative;
    top: -5px;
}

/* User Logo Border */
.userLogoBorder {
    border: 2px solid white;
    padding: 5px 7px;
    border-radius: 50%;
    margin-right: 5px;
}
/* END Navbar */


.myContainer {
    border: 1px solid white; /* temp */
    padding: 5px; /* modify */
    color: white;
}



/* my Name */
.myName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7rem;
    margin: 8rem 3rem;
    color: #E8E8E8;
}
#fname {
    transition: all .7s ease;
    margin-left: -34rem;
}
.myName #lname {
    margin-left: -44rem;
    transition: all .7s ease;
}