
/* link fonts */
@font-face {
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
    font-family: Montserrat;
    src: url(../fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
    font-family: Ubuntu Mono;
    src: url(../fonts/Noto_Sans/NotoSans-Regular.ttf);
    font-family: Noto Sans;
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
    font-family: Ubuntu;
    src: url(../fonts/Kanit/Kanit-Regular.ttf);
    font-family: Kanit;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #24262B;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}




/* Navbar */
.nav__links li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%; /* 30px top & botton, 10% on the left & rigth */
    width: 100%;
    border: 1px solid white; /* temp */
}

.mylogo {
    cursor: pointer;
    border: 1px solid white;
}

.nav__links {
    list-style: none;
    /* border: 1px solid blue; */
    /* center inside of nav */
    display: block;
    margin: auto auto;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    font-family: "Ubuntu Mono";
    font-size: 20px;
    position: relative;
    top: 0;
}
.nav__links li a:hover {
    /* color: #0088a9; */
    color: #38d1ef;
    position: relative;
    top: -5px;
}

/* User Logo Border */
.userLogoBorder {
    border: 2px solid white;
    padding: 5px 7px;
    border-radius: 50%;
    margin-right: 5px;
}
/* END Navbar */


.myContainer {
    border: 1px solid white; /* temp */
    padding: 5px; /* modify */
    color: white;
}



/* my Name */
.myName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7rem;
    margin: 0 3rem;
    margin-top: 8rem;
    color: #E8E8E8;
    border: 1px solid white; /* temp */
}
#fname {
    transition: all .7s ease-out;
    /* margin-left: -34rem; */
    margin-left: -20rem;
    opacity: 0;
}
.myName #lname {
    /* margin-left: -44rem; */
    margin-left: -15rem;
    opacity: 0;
    transition: all .7s ease-out;
}




/* Menu bar Icon */
.menuIconContainer {
    display: none;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #E8E8E8;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 30px;
}
/* hover */
.menuIconContainer:hover > .bars {
    background-color: #38d1ef;
}
/* Change style on toggle */
.MenuIconchange .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.MenuIconchange .bar2 {opacity: 0;}

.MenuIconchange .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}


/* Sub Title */
.myTitle {
    border: 1px solid white; /* temp */
    margin: 0 3rem;
    color: #38d1ef;
    font-family: "Kanit";
}

#idTitles {
    transition: all .5s ease-out;
    position: relative;
    top: -50px;
    opacity: 0;
}













/* Layout ~ 950px */
@media screen and (max-width: 950px) {
    /* Main Logo */
    .mylogo {
        position: absolute;
        left: 3vw;
        display: block;
        margin: auto;
    }
    /* Navbar Header */
    header {
        flex-direction: column;
        height: 70px;
    }
    nav {
        border: 1px solid white; /* temp */
        margin-top: 50px;
        display: block;
        position: absolute;
        overflow-y: auto;
    }
    #navLinks {
        height: 38px;
        transition: all .1s ease-out;
    }
    .nav__links li {
        /* display: block; */
        display: inline-block;
    }
    /* Name */
    .myName {
        font-size: 5rem;
        font-weight: bold;
        margin: 0 .5rem;
        margin-top: 8rem;
        width: fit-content;
    }
    /* navbar items hover */
    .nav__links li a {
        align-items: left;
        display: flex;
    }
    .nav__links li a:hover {
        /* color: #0088a9; */
        color: #38d1ef;
        position: relative;
        top: 0;
        left:5px;
    }
    .navItemIcon {
        margin-right: 5px;
        position: relative;
        top: 5px;
    }


    /* Menu Bar Icon */
    .menuIconContainer {
        /* display: inline-block; */
        display: none;
        position: absolute;
        right: 4vw;
        margin-top: -5px;
    }
}











/* 670px */
@media screen and (max-width: 670px) {
    /* Name */
    .myName {
        font-size: 4rem;
        font-weight: bold;
        margin: 0 .5rem;
        margin-top: 8rem;
        width: fit-content;
    }
}








/* 630px */
@media screen and (max-width: 630px) {
    /* Menu bar icon */
    .menuIconContainer {
        display: block;
    }
    /* navbar items */
    #navLinks {
        height: 0;
        overflow: hidden; /* hide scroll bar */
        transition: all .3s ease-out;
    }
    .nav__links li {
        display: flex;
        flex-direction: column;
    }
    .nav__links li a {
        padding: 2px;
    }
    nav {
        width: 100%;
    }
    .myName {
        margin-top: 8.5rem;
    }
}




/* 480 */
@media screen and (max-width: 480px) {
    /* Resize Name */
    .myName {
        font-size: 3.5rem;
    }
}






/* 450 */
@media screen and (max-width: 450px) {
    /* Resize Name */
    .myName {
        font-size: 3rem;
    }
}







/* 390 */
@media screen and (max-width: 390px) {
    /* Resize Name */
    .myName {
        font-size: 2.5rem;
    }
}